<nav class="navbar">
  <div class="navbar-container">
    
    <!-- Logo / Brand -->
    <div class="navbar-brand">
      <a routerLink="/" class="brand-link">
        <span class="brand-icon">🎮</span>
        <span class="brand-text">GameVault</span>
      </a>
    </div>

    <!-- Navigation Links -->
    <div class="navbar-links">
      <a routerLink="/" routerLinkActive="active"  class="nav-link">
        <span class="link-icon">🏠</span>
        <span class="link-text">Principal</span>
        <span class="link-indicator"></span>
      </a>
      
      <a routerLink="/add" routerLinkActive="active" class="nav-link">
        <span class="link-icon">➕</span>
        <span class="link-text">Añadir</span>
        <span class="link-indicator"></span>
      </a>
    </div>




  </div>
</nav>